* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(61, 61, 61);
  color: white;
}

.headin {
  list-style: none;
  display: flex;
  gap: 20px;

}

nav {
  display: flex;
  justify-content: end;
  padding: 20px;
}
.searchbar{
  margin-top: 220px;
  box-sizing: border-box;
  color: black;
  width: 70vw;
  min-width: 420px;
  display: flex;
  height: 50px;
  border-radius: 30px;
  justify-self: center;
  background-color: white;
  padding-left: 18px;
  gap: 20px;
  align-items: center;
}
.sb1{
  display: flex;
}
.sb1img{
  align-self:center ;
  height: 25px;
}
.sbox{
  align-self: center;
}
.sbox1{
  width: 45vw;
  min-width: 230px;
  height: 45px;
  border: none;
  font-size:18px;
  font-weight:100;
  display: flex;
}

.sb2{
  display: flex;
  gap:20px;
  justify-content: end;
}
@media (min-width:800px) {
  .searchbar{
    width: 700px;
  }
  .sbox1{
    width: 520px;
  }
}

@media (max-width:420px) {
  .searchbar{
    min-width: 0px;
    width:350px;
  }
  .sbox1{
    min-width: 0;
    width: 180px;
  }
}

.cntnr{
  margin-top: 50px;
  display: flex;
  border: 2px solid red;
  justify-self: center;
}
.box1{
  width: 400px;
  border: 2px solid red;
  margin: 5px;
}
.box2{
  margin:5px;
  border: 2px solid red;
  width: 150px;
}
.logo{
  width: 140px;
  margin: 5px;
}
@media (max-width:750px){
  .cntnr{
    flex-direction: column-reverse;
    
  }
  .logo{
    width: 240px;
  }
  .box2{
    width: 250px;justify-self: center;
  }
  .box1{
    width:250px;
  }
}